/*
!.gitignore
!wp-content/
wp-content/uploads
wp-content/languages
wp-content/upgrade
wp-content/ai1wm-backups
 
# macOS Files
.DS_Store
Thumbs.db
.cache
wp-content/themes/twentytwenty/package-lock.json